*{
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: white;
}

.copy, p, .footer{
  color: white;
}

.copy{
  font-size: 42px;
}

p{
  font-size: 21px;
}

#link {
  font-size: 16px;
  color: aquamarine;
}

.footer{
  text-align: right;
  color: gray;
}
